@import '../../../utils/fonts.scss';
@import '../../../utils/mixins.scss';

.is-active {
  color: black !important;
}

.header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid var(--gray-elements, #e2e6e9);

  @include for-phone() {
    display: none;
  }

  @include for-tablet() {
    height: 48px;
  }

  &__logo {
    margin: 0 24px;
    flex: 1;
  }

  &__container {
    display: flex;
  }

  &__nav {
    display: flex;

    &__list {
      display: flex;
      gap: 20px;
      list-style-type: none;

      &__item {
        &__link {
          color: #89939a;
          text-decoration: none;
          font-family: Mont;
          font-size: 12px;
          font-style: normal;
          font-weight: 800;
          line-height: 11px;
          letter-spacing: 0.48px;
          text-transform: uppercase;
          position: relative;
          transition: color 0.3s;
          &:hover {
            color: black;
          }
          &::after {
            content: '';
            position: absolute;
            border-radius: 20px;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: -8px;
            left: 0;
            background-color: black;
            transform-origin: bottom right;
            transition: transform 0.4s ease-out;
          }
          &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
      }
    }
  }

  &__buttons {
    display: flex;

    &__like {
      background-image: url('../../../icons/Favourites\ \(Heart\ Like\).svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 64px;
      height: 64px;
      background-color: white;
      box-shadow: -1px 0px 0px 0px #e2e6e9;
      border: none;

      @include for-phone() {
        display: none;
      }

      @include for-tablet() {
        height: 48px;
        width: 48px;
      }
    }

    &__cart {
      position: relative;
      background-image: url('../../../images/bag.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 64px;
      height: 64px;
      background-color: white;
      box-shadow: -1px 0px 0px 0px #e2e6e9;
      border: none;
      border-bottom: 1px solid #e2e6e9;

      @include for-tablet() {
        height: 48px;
        width: 48px;
      }
    }
    &__cart-heart {
      position: relative;
      background-image: url('../../../images/heart.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 64px;
      height: 64px;
      background-color: white;
      box-shadow: -1px 0px 0px 0px #e2e6e9;
      border: none;
      border-bottom: 1px solid var(--gray-elements, #e2e6e9);

      @include for-tablet() {
        height: 48px;
        width: 48px;
      }
    }

    &__cart--elipse {
      position: absolute;
      background-size: 14px 14px;
      background: url(../../../images/elipse.svg);
      background-position: center;
      background-repeat: no-repeat;
      top: 10px;
      right: 10px;
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      fill: #476df4;
      stroke-width: 1px;
      stroke: #fff;
      @include for-desktop() {
        top: 17px;
        right: 17px;
      }
    }
    &__cart--paragraph {
      padding-top: 1px;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      font-family: Mont;
      font-size: 9px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

.burger-menu-container {
  display: none;

  @include for-phone() {
    display: block;
  }
}
