@import '../../../utils/fonts.scss';
@import '../../../utils/mixins.scss';

.home {
  background-color: #fafbfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px !important;
  @include for-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_title {
    color: #0f0f11;
    font-family: Mont;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -0.48px;
    margin-top: 32px;
    margin-bottom: 56px;
    max-inline-size: 2000px;
    text-align: center;
    &_container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    @include for-tablet {
      width: 640px;
      font-family: Mont;
      font-size: 38px;
    }
    @include for-phone {
      width: 288px;
      font-size: 32px;
      letter-spacing: -0.32px;
      font-family: Mont;
    }
  }

  &_h1 {
    color: #0f0f11;
    font-family: Mont;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.32px;
    margin-top: 80px;
    @include for-tablet {
      width: 491px;
      font-family: Mont;
    }
    @include for-phone {
      width: 136px;
      font-size: 22px;
      font-family: Mont;
      line-height: 140%;
    }
  }

  &_newModelsSlider {
    // height: 560px;
    width: 90%;
    position: relative;
    &-loader {
      position: relative;
      left: 50%;
      align-self: center;
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%;
    }
  }

  .carousel-container {
    height: 100%;
  }

  .carousel-item {
    width: 272px;
  }

  &_carousel-button-group {
    position: absolute;
    top: -10%;
    right: 10%;

    &-right {
      background: url(../../../images/arrow_active.svg) !important;
      background-size: 16px !important ;
      background-position: center !important;
      background-repeat: no-repeat !important;
      border-radius: 48px;
      border: 1px solid #b4bdc3;
      cursor: pointer;
      width: 32px;
      height: 32px;
      margin-left: 16px;
    }

    &-left {
      background: url(../../../images/arrow_active.svg) !important;
      background-size: auto 16px !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      border-radius: 48px;
      border: 1px solid #b4bdc3;
      cursor: pointer;
      width: 32px;
      height: 32px;
      transform: rotate(180deg);
    }
  }

  &_category {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-top: 32px;

    @include for-tablet {
      display: grid;
      place-items: center;
      grid-auto-flow: column;
    }
    @include for-phone {
      display: grid;
      place-items: center;
      grid-auto-flow: row;
    }

    &_mobile {
      background-color: #6d6474;
    }
    &_tablets {
      background:
        url(../../../img/banner/category-tablets.png),
        lightgray 50% / cover no-repeat;
    }
    &_accesories {
      background-color: #d53c51;
    }

    &_container {
      display: grid;
      place-items: center;
      width: 33%;
      align-self: stretch;
      @include for-tablet {
        margin-left: 16px;
        width: 187px;
        margin-left: 0;
      }
      @include for-phone {
        // margin-left: 16px;
        width: 288px;
      }
    }

    &_div {
      align-self: center;
      border-radius: 8px;
      width: 368px;
      height: 368px;
      margin-left: 16px;
      overflow: hidden;
      @include for-tablet {
        width: 187px;
        height: 187px;
        margin-left: 0;
      }
      @include for-phone {
        width: 288px;
        height: 288px;
        margin-left: 0;
      }
    }

    &_h3 {
      color: #0f0f11;
      font-family: Mont;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 24px;
      margin-left: 16px;
      max-width: 368px;
    }

    &_p {
      color: #89939a;
      font-family: Mont;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 21px;
      margin-left: 16px;
      max-width: 368px;
    }

    &_image {
      background-color: transparent;
      margin-left: 20px;
      max-width: 100%;
      max-height: 100%;
      &-1 {
        margin-left: 100px;
        margin-top: 100px;
        transform: scale(1.5);
        @include for-tablet {
          margin-left: 50px;
          margin-top: 50px;
        }
      }
      &-2 {
        margin-left: 140px;
        margin-top: 140px;
        transform: scale(2);
        @include for-tablet {
          margin-left: 70px;
          margin-top: 70px;
        }
      }
      &-3 {
        margin-left: 150px;
        margin-top: 60px;
        transform: scaleX(1.5);
        @include for-tablet {
          margin-left: 90px;
          margin-top: 40px;
        }
      }
    }
  }
}

.promo_newModelsSlider {
  margin-left: 0 !important;
}
