@import '../../../utils/fonts.scss';
@import '../../../utils/mixins.scss';

.info {
  background-color: #fafbfc;
  padding: 24px 152px;
  width: fit-content;

  @include for-tablet {
    padding: 16px;
  }

  @include for-phone {
    padding: 16px;
  }

  &__head {
    &__container {
      display: flex;
      gap: 8px;
      margin-bottom: 40px;
      align-items: center;
      color: var(--gray-secondary, #89939a);
      font-family: Mont;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    &__back {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
    }

    &__title {
      color: var(--gray-primary, #0f0f11);
      /* Desktop & Tablet/H2 */
      font-family: Mont;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 41px; /* 128.125% */
      letter-spacing: -0.32px;
      margin-bottom: 40px;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
      @include for-tablet {
        grid-template-rows: repeat(4, 1fr);
      }
  
      @include for-phone {
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
      }


    &__photos {
      grid-column: 1/2;
      grid-row: 1/2;
  
      @include for-phone {
        grid-column: 1/3;
      }
    }

    &__actions {
      grid-column: 2/3;
      grid-row: 1/2;
  
      @include for-phone {
        grid-column: 1/3;
        grid-row: auto / span 1;
      }
    }

    &__about {
      grid-column: 1/2;
      grid-row: 2/3;

      @include for-tablet {
        grid-column: 1/3;
        grid-row: 2/3;
      }
  
      @include for-phone {
        grid-column: 1/3;
        grid-row: auto / span 1;
      }
    }

    &__tech {
      grid-column: 2/3;
      grid-row: 2/3;
      @include for-tablet {
        grid-column: 1/3;
        grid-row: 3/4;
      }
  
      @include for-phone {
        grid-column: 1/3;
        grid-row: auto / span 1;
      }
    }

    &__recommendedSection {
      display: flex;
      gap: 16px;
      overflow: auto;
      position: relative;
      grid-column: 1/3;
      grid-row: 3/4;

      @include for-tablet {
        grid-column: 1/3;
        grid-row: 4/5;
      }
  
      @include for-phone {
        grid-column: 1/3;
        grid-row: auto / span 1;
      }
    }
    &__recommendedCards {
      display: flex;
      gap: 16px;
      transition: transform 0.3s ease;
  }
    &__recommendedCard {
      width: 237px;
      padding: 32px;
      display: flex;
      gap: 8px;
      margin-right: 16px;
    }
  }
}
