@import '../../../utils/fonts.scss';

.info {
    background-color: #FAFBFC;
    padding: 24px 152px;

    &__head {
        &__container {
            display: flex;
            gap: 8px;
            margin-bottom: 40px;
            align-items: center;
            color: var(--gray-secondary, #89939A);
font-family: Mont;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
        }

        &__back {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
        }

        &__title {
            color: var(--gray-primary, #0F0F11);
/* Desktop & Tablet/H2 */
font-family: Mont;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: 41px; /* 128.125% */
letter-spacing: -0.32px;
margin-bottom: 40px;
        }
    }

    &__main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        &__about {
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }
}