@import '../../../utils/fonts.scss';
@import '../../../utils//mixins.scss';

* {
  margin: 0;
}

.phonePage {
  display: grid;
  grid-template-columns: repeat(24, 32px);
  gap: 0 16px;
  padding-left: 152px;
  padding-right: 152px;
  background-color: #fafbfc;
  min-width: fit-content;

  @include for-tablet() {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 16px;
    padding: 0 24px;
    width: 100%;
  }

  @include for-phone() {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 16px;
    padding: 0 16px;
    width: 100%;
  }

  &__current {
    grid-column: 1/24;
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 40px;

    @include for-tablet() {
      grid-column: 1/12;
    }

    @include for-phone() {
      grid-column: 1/4;
      margin-bottom: 24px;
    }

    &__icon {
      width: 16px;
      margin-right: 8px;
    }

    &__text {
      display: inline;
      color: #89939a;
      font-family: Mont;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
    }
  }

  &__title {
    font-family: Mont, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    grid-column: 1/24;

    @include for-tablet() {
      grid-column: 1/12;
    }

    @include for-phone() {
      grid-column: 1/5;
      font-size: 32px;
      line-height: 41px;
    }
  }

  &__text {
    color: #89939a;
    font-family: Mont, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    grid-column: 1/24;

    @include for-tablet() {
      grid-column: 1/12;
    }

    @include for-phone() {
      grid-column: 1/4;
    }

    &--models {
      margin-bottom: 40px;

      @include for-phone() {
        margin-bottom: 32px;
      }
    }
  }

  &__select {
    height: 59px;
    margin-bottom: 16px;

    &__container {
      display: flex;
    }
    &__text {
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    &__field {
      width: 100%;
      border: 1px solid #b4bdc3;
      border-radius: 8px;
      height: 40px;
      color: #0f0f11;
      font-family: Mont, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 21px;

      &:hover {
        border-color: #89939a;
      }

      &:focus {
        border-color: #0f0f11;
      }
    }

    &--1 {
      grid-column-start: 1;
      width: 176px;

      @include for-phone() {
        grid-column: 1/3;
        width: 100%;
      }

      @include for-tablet() {
        grid-column: 1/5;
        width: 100%;
      }
    }

    &--2 {
      grid-column-start: 5;
      width: 128px;

      @include for-phone() {
        grid-column: 3/5;
        width: 100%;
      }

      @include for-tablet() {
        grid-column: 5/8;
        width: 100%;
      }
    }
  }
}

.product-card {
  grid-column: span 6;
  grid-row: auto;
  height: 506px;

  @include for-tablet() {
    grid-column: span 4;
  }

  @include for-phone() {
    grid-column: 1 / span 4;
    height: 440px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(24, 32px);
    gap: 0 16px;
    grid-column-start: 1;

    @include for-tablet() {
      grid-template-columns: repeat(12, 1fr);
      grid-column: 1/13;
    }
  
    @include for-phone() {
      grid-template-columns: repeat(4, 1fr);
      grid-column: 1/5;
    }
  }
}
